navigation-bar {
  color: #eee;
  background-color : #333;
}

table-view {
  background-color: #777;
}
table-view-cell {
  background-color: #777;
}
.exist-image-cell {
  background-color: #888;
}
.no-image-cell {
  background-color: #444;
}

#tumblrComment {
  border-radius: 5px;
  background-color: #eee;
}
